<h2 class="is-size-1 has-text-centered">Artists in Collection</h2>
<div class="columns is-centered is-multiline">
  <div
    *ngFor="let artist of records; let i = index"
    class="column">
  <div class="card">
    <div class="card-image">
      <figure class="image is-square">
        <a [routerLink]="['/artists/', artist.id]"><img src="{{ artist.imagePath }}" alt="{{ artist.artist }} - {{ artist.album}}"></a>
      </figure>
    </div>
    <div class="card-content">
      <div class="media-content">
        <p class="title is-4">{{ artist.album}}</p>
        <p class="subtitle is-6">{{ artist.artist}}</p>
      </div>
      <div class="content">
        {{ artist.year }}
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item">Edit</a>
      <a href="#" class="card-footer-item" (click)="onDelete(i)">Delete</a>
    </footer>
  </div>
</div>
</div>
