<section class="hero">
  <img class="is-16by9" src="../../../assets/bruce-hero.jpg" alt="">
</section>

<section class="section">
  <div class="container">
    <div class="block details-wrap">
      <article class="media">
        <figure class="media-left">
          <p class="image is-square">
            <img src="{{ albumDetails.images[1].url }}">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
              <h2 class="title is-4 mb-0">{{ albumDetails.name }}</h2>
              <h3 class="title is-5 mt-0">{{ albumDetails.artists[0].name }}</h3>
          </div>

          <div class="details-wrap">
            <div class="top-level is-gray">
              <span class="details-tag">{{ albumDetails.release_date | slice:0:4 }}</span>
              <span class="details-tag">41:50</span>
            </div>

            <div class="mid-level detail-tags">
              <span class="details-tag">glam rock</span>
              <span class="details-tag">classic rock</span>
              <span class="details-tag">art rock</span>
            </div>

            <div class="bottom-level">
              <span class="has-text-white added-to"><fa-icon [icon]="faCheck"></fa-icon> added to collection</span>
            </div>
          </div>

          </div>
      </article>
    </div>
  </div>
</section>

<section class="hero bg-color-full is-secondary">
  <div class="container">
    <h2 class="title has-text-black has-text-centered mb-0 is-uppercase">Track Listing</h2>
    <div class="track-listing py-5">
      <div *ngFor="let track of albumDetails.tracks.items; let i = index" class="columns is-mobile">
        <div class="column is-four-fifths p-0">
          <p><span>{{ i+1 }}. </span>{{ track.name }}</p>
        </div>
        <div class="column is-one-fifth p-0">
          <p class="has-text-right">{{ track.duration_ms | date: 'm:ss' }}</p>
        </div>
      </div>
    </div>
    <div class="footer-image is-flex is-justify-content-center">
      <img src="../../../assets/vinyl.png" alt="" class="image is-32x32">
    </div>
  </div>
</section>
<div class="section section">
  <div class="container">
    <h2 class="title is-uppercase has-text-white is-4">More Albums by <br>{{ albumDetails.artists[0].name }}</h2>
    <div class="columns is-mobile is-multiline is-gapless results-grid">
      <div *ngFor="let album of artistsAlbums.items" class="column is-one-quarter">
        <img src="{{ album.images[0].url }}" alt="{{ album.name }}">
      </div>
    </div>
  </div>
</div>

<!-- <div class="block">
  <nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Release Year</p>
        <p class="title">{{ record.year }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Tracks</p>
        <p class="title">10</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Followers</p>
        <p class="title">456K</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Likes</p>
        <p class="title">789</p>
      </div>
    </div>
  </nav>
</div> -->
