<app-header></app-header>

<section class="section search-wrap">
  <form [formGroup]="albumSearch" (ngSubmit)="onSubmit()" class="columns is-mobile is-gapless search-paired">
    <div class="field column is-four-fifths">
      <div class="control has-icons-left">
        <input
          id="album"
          formControlName="album"
          class="input"
          type="text"
          placeholder="Search Album">
          <span class="icon is-small is-left">
            <fa-icon [icon]="faMagnifying"></fa-icon>
          </span>
      </div>
    </div>
    <div class="column is-one-fifth">
      <button class="button is-primary" type="submit"  [disabled]="!albumSearch.valid">Search</button>
    </div>
  </form>
</section>

<section *ngIf="searchResults" class="section">
  <div class="columns is-mobile is-multiline is-gapless results-grid">
    <div *ngFor="let results of searchResults; let i = index" class="column is-one-third">
      <img
        [routerLink]="['/records/', searchResults[i].id]"
        class="is-square"
        src="{{ searchResults[i].images[1].url }}"
        alt="{{ searchResults[i].name }}"
        (click)="albumSelect()"
      >
    </div>
  </div>
</section>

<router-outlet></router-outlet>

<app-add-to-collection class="add-to-collection"></app-add-to-collection>
<app-footer></app-footer>

