<section class="hero home-hero">
  <div class="hero-body">
    <h1 class="title">Vinyl's gone digital</h1>
    <p class="subtitle">
      Your record collection at your fingertips; anytime, anywhere
    </p>
    <button class="button is-outlined is-white">GET STARTED</button>
  </div>
</section>

<section class="hero is-secondary">
  <div class="hero-body">
    <p class="title is-centered">Hero title</p>
    <nav class="level is-mobile">
      <div class="level-item has-text-centered">
        <div>
          <span class="icon is-small is-center">
            <fa-icon [icon]="faPersonChalkboard"></fa-icon>
          </span>
          <p class="title">3,456</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Following</p>
          <p class="title">123</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Followers</p>
          <p class="title">456K</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Likes</p>
          <p class="title">789</p>
        </div>
      </div>
    </nav>
  </div>
</section>

<section class="section">
  <div class="container"></div>
</section>
