<section class="hero home-hero">
  <div class="hero-body">
    <h1 class="title">Vinyl's gone digital</h1>
    <p class="subtitle">
      Your record collection at your fingertips; anytime, anywhere
    </p>
    <button class="button is-outlined is-white">GET STARTED</button>
  </div>
</section>

<section class="hero is-secondary">
  <div class="hero-body">
    <div class="title-wrap">
      <h2 class="title">HERO TITLE</h2>
      <p>
        Ea aliqua duis anim aliqua ipsum. Cillum deserunt velit nulla eiusmod
        proident non commodo incididunt.
      </p>
    </div>
    <div class="stacked-box-wrap">
      <div class="box dark">
        <div class="box-left">
          <img class="icon is-large" src="../../assets/headphones.png" alt="" />
        </div>
        <div class="box-right ml-4">
          <div class="title">Share Your Passion</div>
          <div class="subtitle">This is a subtitle</div>
        </div>
      </div>

      <div class="box dark">
        <div class="box-left">
          <img class="icon is-large" src="../../assets/record-bin.png" alt="" />
        </div>
        <div class="box-right ml-4">
          <div class="title">Catalog Your Collection</div>
          <div class="subtitle">This is a subtitle</div>
        </div>
      </div>

      <div class="box dark">
        <div class="box-left">
          <img class="icon is-large" src="../../assets/vinyl-icon.png" alt="" />
        </div>
        <div class="box-right ml-4">
          <div class="title">Explore the Vinyl World</div>
          <div class="subtitle">This is a subtitle</div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="is-flex is-justify-content-center">
      <img src="../../assets/record-player.gif" alt="record-player" />
    </div>
  </div>
</section>
